* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button, a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.footer__info, .top-content__home-box, .header__inner-left, .header__inner {
  display: flex;
  justify-content: space-between;
}

body, html {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #009DE9;
}
.header__inner {
  padding: 18px 0 14px;
}
.header__weather {
  display: flex;
  padding: 0 25px 0 53px;
}
.header__weather-img {
  width: 28px;
  height: 28px;
  margin-left: 11px;
}
.header__time-content, .header__weather-content, .header__date-content {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 2.14rem;
  line-height: 2.93rem;
  letter-spacing: 0.02em;
  color: #FFFF;
}

.slider-wrapper {
  width: 100%;
  position: relative;
}
.slider-wrapper__slide {
  width: 100%;
  height: 100%;
  display: none;
}
.slider-wrapper__slide.active {
  display: block;
}
.slider-wrapper__image {
  width: 100%;
  height: 100%;
}
.slider-wrapper__button-prev {
  position: absolute;
  left: 20px;
  top: 44%;
}
.slider-wrapper__button-next {
  position: absolute;
  right: 20px;
  top: 44%;
}

.home-bg {
  background-image: url("../img/background-main.png");
}

.content-bg {
  background-image: url("../img/background-content.png");
}

.top-content {
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  position: relative;
}
.top-content .container {
  max-width: 1000px;
}
.top-content__home {
  position: relative;
  padding: 60px 0 534px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top-content__home.others-page {
  padding: 30px 0 514px;
}
.top-content__title {
  padding-top: 15px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 1.86rem;
  line-height: 2.5rem;
  letter-spacing: 0em;
  color: #2C2C33;
}
.top-content__back-arrow {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
  width: 62px;
}
.top-content__home-button {
  position: absolute;
  top: 15px;
  left: 30px;
  cursor: pointer;
  width: 40px;
}
.top-content__text-content {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 1.43rem;
  line-height: 1.64rem;
  letter-spacing: 0em;
  color: #2C2C33;
  padding: 30px 0 474px;
}
.top-content__home-box {
  background: #FFFF;
  box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
  border-radius: 45px;
  margin-right: 35px;
  margin-bottom: 35px;
  width: 300px;
  height: 250px;
  cursor: pointer;
  padding: 60px 20px 35px 25px;
  flex-direction: column;
}
.top-content__home-box:nth-of-type(3n) {
  margin-right: 0;
}
.top-content__home-box:last-of-type {
  margin-bottom: 0;
  margin-right: 0;
}
.top-content__home-title {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 1.57rem;
  line-height: 1.86rem;
  letter-spacing: 0.02em;
  color: #2B2E2D;
  text-transform: uppercase;
  text-align: right;
}

.footer {
  background: #009DE9;
}
.footer__content {
  padding: 12px 0 10px;
}
.footer__info {
  align-items: center;
}
.footer__info-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-size: 1.14rem;
  line-height: 1.39rem;
  letter-spacing: 0.02em;
  color: #FFFF;
}
.footer__info-text.text-left {
  text-align: right;
}
.footer__logo {
  padding: 0 45px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
}
.footer__copyright-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.21rem;
  letter-spacing: 0.02em;
  color: #FFFF;
}
.footer__copyright-logo {
  padding: 0 19px;
}
.footer__copyright-logo img {
  width: 75px;
  height: 17px;
}/*# sourceMappingURL=style.css.map */